In [156]:
# library here
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re
import datetime

In [157]:
df = pd.read_csv("C:/Users/Owner/Documents/RealEstate Project/data/suumo_central_Tokyo.csv")
df

,apt_name,price,address,station_distance,area,floor_plan,balcony,year
0,ライオンズガーデン四谷津の守坂,1億5800万円,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004年2月
1,トルナーレ日本橋浜町,2億4800万円,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005年8月
2,富久クロス コンフォートタワー,3億6800万円,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015年4月
3,パークコート千代田富士見ザ タワー,3億6800万円,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014年3月
4,八丁堀東豊エステート,1180万円,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,ワンルーム,1.42m2,1974年12月
...,...,...,...,...,...,...,...,...
6577,広尾マンション,2億7800万円,東京都渋谷区広尾１,東京メトロ日比谷線「広尾」徒歩9分,161.44m2（壁芯）,4LDK,28.35m2,1970年7月
6578,南平台ハウス,3億1800万円,東京都渋谷区南平台町,ＪＲ山手線「渋谷」徒歩8分,136.54m2（壁芯）,4LDK,10.12m2,2002年3月
6579,ワールドタワーレジデンス,3億8000万円,東京都港区浜松町２,ＪＲ山手線「浜松町」徒歩2分,54.8m2（壁芯）,2LDK,10.59m2,2024年11月
6580,上原ガーデンズ,6億4000万円,東京都渋谷区上原２,小田急線「代々木上原」徒歩10分,234.85m2（壁芯）,4LDK,25.89m2,2001年3月
6581,品川Ｖタワー タワー棟,18億円,東京都港区港南２,ＪＲ山手線「品川」徒歩6分,285.62m2（壁芯）,2LDK+S（納戸）,18.76m2,2003年3月

# Data Cleaning

## apt_name column

In [158]:
# Do nothing for now

## price column

In [ ]:
# Check the unique values in price column
df["price"].unique()

array(['1億5800万円', '2億4800万円', '3億6800万円', '1180万円', '1790万円', '1980万円',
       '2200万円', '2400万円', '2680万円', '2780万円', '2980万円', '3098万円',
       '3170万円', '3180万円', '3280万円', '3360万円', '3380万円', '3580万円',
       '3590万円', '3650万円', '3680万円', '3699万円', '3880万円', '3896万円',
       '3980万円', '3989万円', '3990万円', '3998万円', '3999万円', '4080万円',
       '4180万円', '4250万円', '4350万円', '4390万円', '4399万円', '4480万円',
       '4490万円', '4499万円', '4500万円', '4590万円', '4650万円', '4680万円',
       '4690万円', '4700万円', '4780万円', '4880万円', '4899万円', '4980万円',
       '4990万円', '4999万円', '5180万円', '5200万円', '5280万円', '5290万円',
       '5299万円', '5350万円', '5380万円', '5399万円', '5480万円', '5499万円',
       '5580万円', '5680万円', '5750万円', '5780万円', '5790万円', '5799万円',
       '5880万円', '5899万円', '5977万円', '5980万円', '5998万円', '5999万円',
       '6080万円', '6250万円', '6280万円', '6299万円', '6300万円', '6480万円',
       '6490万円', '6499万円', '6500万円', '6580万円', '6588万円', '6590万円',
       '6599万円', '6650万円', '6699万円', '6780万円', '6850万円', '6880万円',
       '6890万円', '6899万円', '6980万円', '6990万円', '6998万円', '6999万円',
       '7080万円', '7180万円', '7190万円', '7199万円', '7200万円', '7280万円',
       '7298万円', '7299万円', '7350万円', '7380万円', '7471万円', '7480万円',
       '7490万円', '7499万円', '7500万円', '7680万円', '7700万円', '7770万円',
       '7780万円', '7798万円', '7800万円', '7980万円', '7998万円', '7999万円',
       '8190万円', '8210万円', '8230万円', '8280万円', '8290万円', '8299万円',
       '8380万円', '8400万円', '8480万円', '8499万円', '8550万円', '8680万円',
       '8690万円', '8699万円', '8880万円', '8900万円', '8980万円', '8998万円',
       '8999万円', '9000万円', '9080万円', '9180万円', '9280万円', '9290万円',
       '9299万円', '9350万円', '9380万円', '9400万円', '9480万円', '9490万円',
       '9500万円', '9580万円', '9598万円', '9630万円', '9680万円', '9800万円',
       '9800万円※権利金含む', '9880万円', '9900万円', '9980万円', '9999万円', '1億円',
       '1億180万円', '1億300万円', '1億360万円', '1億380万円', '1億480万円', '1億490万円',
       '1億500万円', '1億780万円', '1億790万円', '1億800万円', '1億880万円', '1億980万円',
       '1億1000万円', '1億1200万円', '1億1280万円', '1億1480万円', '1億1499万円',
       '1億1500万円', '1億1580万円', '1億1680万円', '1億1750万円', '1億1798万円',
       '1億1800万円', '1億1850万円', '1億1880万円', '1億1900万円', '1億1980万円',
       '1億1990万円', '1億1999万円', '1億2000万円', '1億2100万円', '1億2300万円',
       '1億2480万円', '1億2500万円', '1億2780万円', '1億2790万円', '1億2800万円',
       '1億2900万円', '1億2980万円', '1億2990万円', '1億3000万円', '1億3100万円',
       '1億3200万円', '1億3480万円', '1億3489万円', '1億3500万円', '1億3580万円',
       '1億3680万円', '1億3800万円', '1億3850万円', '1億3880万円', '1億3900万円',
       '1億3980万円', '1億3990万円', '1億3999万円', '1億4000万円', '1億4200万円',
       '1億4280万円', '1億4480万円', '1億4490万円', '1億4500万円', '1億4580万円',
       '1億4600万円', '1億4780万円', '1億4800万円', '1億4900万円', '1億4980万円',
       '1億4990万円', '1億4999万円', '1億5000万円', '1億5300万円', '1億5380万円',
       '1億5400万円', '1億5480万円', '1億5490万円', '1億5500万円', '1億5680万円',
       '1億5780万円', '1億5900万円', '1億5980万円', '1億5990万円', '1億6000万円',
       '1億6200万円', '1億6400万円', '1億6480万円', '1億6490万円', '1億6500万円',
       '1億6780万円', '1億6800万円', '1億6880万円', '1億6900万円', '1億6980万円',
       '1億6990万円', '1億7100万円', '1億7280万円', '1億7300万円', '1億7400万円',
       '1億7480万円', '1億7500万円', '1億7800万円', '1億7900万円', '1億7980万円',
       '1億8000万円', '1億8380万円', '1億8400万円', '1億8480万円', '1億8500万円',
       '1億8700万円', '1億8800万円', '1億8850万円', '1億8900万円', '1億8980万円',
       '1億9000万円', '1億9400万円', '1億9480万円', '1億9500万円', '1億9700万円',
       '1億9800万円', '1億9900万円', '1億9980万円', '2億円', '2億480万円', '2億490万円',
       '2億700万円', '2億800万円', '2億980万円', '2億990万円', '2億1000万円', '2億1200万円',
       '2億1500万円', '2億1800万円', '2億1900万円', '2億1980万円', '2億1990万円',
       '2億2000万円', '2億2280万円', '2億2480万円', '2億2500万円', '2億2800万円',
       '2億2980万円', '2億2999万円', '2億3180万円', '2億3200万円', '2億3800万円',
       '2億3990万円', '2億4000万円', '2億4200万円', '2億4380万円', '2億4490万円',
       '2億4888万円', '2億4900万円', '2億4980万円', '2億4990万円', '2億5000万円',
       '2億5480万円', '2億5800万円', '2億5880万円', '2億5980万円', '2億6300万円',
       '2億6480万円', '2億6500万円', '2億6580万円', '2億6800万円', '2億6890万円',
       '2億6900万円', '2億6980万円', '2億7000万円', '2億7580万円', '2億7600万円',
       '2億7700万円', '2億7800万円', '2億7980万円', '2億8000万円', '2億8300万円',
       '2億8500万円', '2億8680万円', '2億8800万円', '2億8900万円', '2億9800万円',
       '2億9900万円', '3億円', '3億800万円', '3億980万円', '3億1800万円', '3億2000万円',
       '3億2500万円', '3億2800万円', '3億2900万円', '3億2980万円', '3億2990万円',
       '3億3000万円', '3億3800万円', '3億3900万円', '3億4000万円', '3億4300万円',
       '3億4800万円', '3億5000万円', '3億6500万円', '3億6888万円', '3億7800万円',
       '3億7980万円', '3億8000万円', '3億8500万円', '3億9500万円', '3億9800万円',
       '4億1500万円', '4億2800万円', '4億2900万円', '4億3000万円', '4億3500万円',
       '4億3800万円', '4億4500万円', '4億4800万円', '4億4990万円', '4億5800万円',
       '4億6500万円', '4億7500万円', '4億7800万円', '4億8000万円', '4億8890万円',
       '4億9800万円', '4億9990万円', '5億1400万円', '5億2800万円', '5億4490万円',
       '5億5500万円', '5億6800万円', '5億6990万円', '5億8800万円', '5億9800万円', '6億円',
       '6億2800万円', '6億4800万円', '6億5000万円', '6億5890万円', '6億6990万円',
       '6億8500万円', '6億8800万円', '6億9800万円', '7億円', '7億2000万円', '7億2500万円',
       '7億2800万円', '7億8800万円', '8億円', '8億2000万円', '8億3500万円', '8億9800万円',
       '10億5000万円', '10億8000万円', '11億7000万円', '11億9700万円', '13億円',
       '14億8000万円', '14億9800万円', '21億8000万円', '1430万円', '1500万円',
       '1780万円', '1880万円', '2280万円', '2350万円', '2390万円', '2480万円',
       '2580万円', '2590万円', '2990万円', '3000万円', '3080万円', '3470万円',
       '3480万円', '3499万円', '3500万円', '3780万円', '3790万円', '3850万円',
       '3936万円', '4090万円', '4199万円', '4280万円', '4299万円', '4599万円',
       '4699万円', '4860万円', '4900万円', '4970万円', '5000万円', '5080万円',
       '5100万円', '5199万円', '5400万円', '5450万円', '5470万円', '5490万円',
       '5498万円', '5599万円', '5699万円', '5700万円', '5950万円', '5970万円',
       '6180万円', '6199万円', '6460万円', '6583万円', '6799万円', '6900万円',
       '7390万円', '7898万円', '8180万円', '8700万円', '8780万円', '9150万円',
       '9200万円', '9699万円', '9990万円', '1億600万円', '1億990万円', '1億999万円',
       '1億1300万円', '1億2200万円', '1億2380万円', '1億2490万円', '1億2880万円',
       '1億4100万円', '1億4300万円', '1億4970万円', '1億5600万円', '1億6690万円',
       '1億6999万円', '1億7000万円', '1億7840万円', '1億9350万円', '1億9490万円',
       '2億1300万円', '2億2200万円', '2億3500万円', '2億5600万円', '2億6990万円',
       '2億7500万円', '2億9000万円', '3億1000万円', '3億1500万円', '3億4500万円',
       '3億5800万円', '3億6000万円', '3億7580万円', '4億2000万円', '4億5000万円',
       '4億6600万円', '5億3000万円', '5億4800万円', '5億5000万円', '5億8000万円',
       '5億8900万円', '6億8880万円', '7億2900万円', '7億8000万円', '7億9800万円',
       '8億4800万円', '8億5000万円', '8億6800万円', '9億5000万円', '11億8000万円',
       '12億8000万円', '13億1000万円', '13億5000万円', '1030万円', '1230万円',
       '1240万円', '1250万円', '1400万円', '1498万円', '1550万円', '1560万円',
       '1600万円', '1630万円', '1680万円', '1698万円', '1700万円', '1730万円',
       '1750万円', '1799万円', '1800万円', '1850万円', '1890万円', '1950万円',
       '2000万円', '2050万円', '2080万円', '2100万円', '2130万円', '2180万円',
       '2190万円', '2250万円', '2300万円', '2360万円', '2380万円', '2420万円',
       '2490万円', '2550万円', '2599万円', '2600万円', '2650万円', '2690万円',
       '2699万円', '2700万円', '2800万円', '2850万円', '2880万円', '2890万円',
       '2900万円', '2930万円', '2999万円', '3050万円', '3090万円', '3099万円',
       '3100万円', '3140万円', '3150万円', '3198万円', '3200万円', '3210万円',
       '3250万円', '3290万円', '3298万円', '3330万円', '3400万円', '3450万円',
       '3490万円', '3498万円', '3599万円', '3600万円', '3670万円', '3690万円',
       '3698万円', '3860万円', '3899万円', '3900万円', '3950万円', '3970万円',
       '4050万円', '4100万円', '4190万円', '4200万円', '4290万円', '4300万円',
       '4380万円', '4400万円', '4580万円', '4598万円', '4600万円', '4777万円',
       '4790万円', '4799万円', '4800万円', '4890万円', '4960万円', '5099万円',
       '5150万円', '5230万円', '5238万円', '5250万円', '5300万円', '5500万円',
       '5555万円', '5600万円', '5770万円', '5800万円', '5850万円', '5890万円',
       '5900万円', '5990万円', '6000万円', '6070万円', '6090万円', '6130万円',
       '6170万円', '6190万円', '6200万円', '6270万円', '6290万円', '6380万円',
       '6384万円', '6390万円', '6399万円', '6573万円', '6600万円', '6680万円',
       '6700万円', '6718万円', '6750万円', '6790万円', '6800万円', '6840万円',
       '7000万円', '7022万4000円', '7100万円', '7108万円', '7240万円', '7250万円',
       '7290万円', '7400万円', '7430万円', '7450万円', '7460万円', '7550万円',
       '7580万円', '7600万円', '7690万円', '7790万円', '7850万円', '7880万円',
       '7890万円', '7950万円', '7970万円', '7977万円', '7990万円', '8000万円',
       '8080万円', '8100万円', '8200万円', '8260万円', '8300万円', '8350万円',
       '8490万円', '8500万円', '8549万円', '8560万円', '8580万円', '8650万円',
       '8790万円', '8798万円', '8800万円', '8850万円', '8888万円', '8890万円',
       '8990万円', '9190万円', '9220万円', '9250万円', '9300万円', '9600万円',
       '9670万円', '9700万円', '9750万円', '9780万円', '9840万円', '9890万円',
       '9998万円', '1億100万円', '1億130万円', '1億190万円', '1億280万円', '1億420万円',
       '1億550万円', '1億555万円', '1億580万円', '1億590万円', '1億680万円', '1億700万円',
       '1億900万円', '1億950万円', '1億960万円', '1億1290万円', '1億1299万円',
       '1億1380万円', '1億1390万円', '1億1400万円', '1億1450万円', '1億1498万円',
       '1億1600万円', '1億1650万円', '1億1700万円', '1億1890万円', '1億1950万円',
       '1億2040万円', '1億2280万円', '1億2400万円', '1億2530万円', '1億2600万円',
       '1億2620万円', '1億2680万円', '1億2700万円', '1億3170万円', '1億3180万円',
       '1億3190万円', '1億3280万円', '1億3400万円', '1億3600万円', '1億3700万円',
       '1億3720万円', '1億3760万円', '1億3889万円', '1億4180万円', '1億4400万円',
       '1億4420万円', '1億4890万円', '1億5290万円', '1億5580万円', '1億5590万円',
       '1億5690万円', '1億5850万円', '1億5880万円', '1億6180万円', '1億6280万円',
       '1億6300万円', '1億6700万円', '1億7950万円', '1億7998万円', '1億8200万円',
       '1億8280万円', '1億8490万円', '1億8600万円', '1億8990万円', '1億9200万円',
       '1億9280万円', '1億9300万円', '1億9880万円', '1億9888万円', '1億9990万円',
       '2億500万円', '2億600万円', '2億880万円', '2億1400万円', '2億1480万円',
       '2億1600万円', '2億1880万円', '2億2300万円', '2億2400万円', '2億2700万円',
       '2億2900万円', '2億2990万円', '2億3000万円', '2億3300万円', '2億3480万円',
       '2億3680万円', '2億3700万円', '2億3900万円', '2億3980万円', '2億3999万円',
       '2億4580万円', '2億4590万円', '2億4700万円', '2億5350万円', '2億5370万円',
       '2億5580万円', '2億5990万円', '2億6000万円', '2億6200万円', '2億6490万円',
       '2億6600万円', '2億6700万円', '2億8200万円', '2億8400万円', '2億8990万円',
       '2億9500万円', '2億9880万円', '2億9990万円', '2億9999万円', '3億500万円',
       '3億1900万円', '3億2660万円', '3億3300万円', '3億3980万円', '3億4400万円',
       '3億4900万円', '3億5500万円', '3億6900万円', '3億6980万円', '3億6990万円',
       '3億7000万円', '3億7500万円', '3億7990万円', '3億8480万円', '3億8800万円',
       '3億9000万円', '3億9600万円', '3億9880万円', '3億9980万円', '3億9990万円', '4億円',
       '4億800万円', '4億1000万円', '4億1800万円', '4億2300万円', '4億4900万円',
       '4億5900万円', '4億6000万円', '4億6800万円', '4億6900万円', '4億7000万円',
       '4億7700万円', '4億7900万円', '4億9000万円', '4億9500万円', '5億円', '5億800万円',
       '5億1000万円', '5億1480万円', '5億1800万円', '5億2000万円', '5億2980万円',
       '5億4000万円', '5億4500万円', '5億4990万円', '5億5800万円', '5億7000万円',
       '5億7200万円', '5億7800万円', '5億9400万円', '5億9600万円', '6億1700万円',
       '6億3000万円', '6億4000万円', '6億7000万円', '6億8000万円', '6億9000万円',
       '6億9500万円', '7億4800万円', '7億5000万円', '7億5800万円', '7億8990万円',
       '8億3800万円', '8億5800万円', '8億7800万円', '8億8000万円', '9億円', '9億2800万円',
       '9億9000万円', '9億9800万円', '10億円', '11億円', '11億1000万円', '11億5000万円',
       '12億円', '12億3000万円', '12億4800万円', '13億8000万円', '14億9000万円', '15億円',
       '16億円', '17億4000万円', '18億円', '19億4000万円', '1860万円', '2億580万円'],
      dtype=object)

In [ ]:
# Check the strange value
df.iloc[954, :]

apt_name                  パークコート六本木ヒルトップ
price                          21億8000万円
address                   東京都港区六本木１-７－１０
station_distance    東京メトロ南北線「六本木一丁目」徒歩3分
area                        151.99m2（壁芯）
floor_plan                   3LDK+2S（納戸）
balcony                          22.45m2
year                             2012年8月
Name: 954, dtype: object

In [161]:
# Delete "※権利金含む"
df["price"] = df["price"].str.replace("※権利金含む", "")


# Create "億円" and "万円" column
df["price"] = df["price"].str.replace("円", "")
df["Oku"] = df["price"].str.extract(r"(\d+)(?=億)").fillna(0).astype("int64") # why int64 : integer overflow when using int32
df["Man"] = df["price"].str.extract(r"(\d+)(?=万)").fillna(0).astype("int64") # why int64 : integer overflow when using int32
df["total Price"] = df["Oku"]*100000000 + df["Man"]*10000

# df.drop(columns=["Oku", "Man", "price"], inplace=True)
df.head()

,apt_name,price,address,station_distance,area,floor_plan,balcony,year,Oku,Man,total Price
0,ライオンズガーデン四谷津の守坂,1億5800万,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004年2月,1,5800,158000000
1,トルナーレ日本橋浜町,2億4800万,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005年8月,2,4800,248000000
2,富久クロス コンフォートタワー,3億6800万,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015年4月,3,6800,368000000
3,パークコート千代田富士見ザ タワー,3億6800万,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014年3月,3,6800,368000000
4,八丁堀東豊エステート,1180万,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,ワンルーム,1.42m2,1974年12月,0,1180,11800000

In [162]:
df.iloc[954, :]

apt_name                  パークコート六本木ヒルトップ
price                           21億8000万
address                   東京都港区六本木１-７－１０
station_distance    東京メトロ南北線「六本木一丁目」徒歩3分
area                        151.99m2（壁芯）
floor_plan                   3LDK+2S（納戸）
balcony                          22.45m2
year                             2012年8月
Oku                                   21
Man                                 8000
total Price                   2180000000
Name: 954, dtype: object

## address column

In [ ]:
# Check the unique values in address column
df["address"].unique()

array(['東京都新宿区四谷三栄町', '東京都中央区日本橋浜町３', '東京都新宿区富久町', ..., '東京都港区愛宕１',
       '東京都渋谷区神宮前４', '東京都新宿区市谷砂土原町２'], dtype=object)

In [ ]:
# Split address into three columns
df[["prefecture", "city", "town"]] = df["address"].apply(lambda x: re.split("[都区]",x)).apply(pd.Series)
df.head()

,apt_name,price,address,station_distance,area,floor_plan,balcony,year,Oku,Man,total Price,prefecture,city,town
0,ライオンズガーデン四谷津の守坂,1億5800万,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004年2月,1,5800,158000000,東京,新宿,四谷三栄町
1,トルナーレ日本橋浜町,2億4800万,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005年8月,2,4800,248000000,東京,中央,日本橋浜町３
2,富久クロス コンフォートタワー,3億6800万,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015年4月,3,6800,368000000,東京,新宿,富久町
3,パークコート千代田富士見ザ タワー,3億6800万,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014年3月,3,6800,368000000,東京,千代田,富士見２
4,八丁堀東豊エステート,1180万,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,ワンルーム,1.42m2,1974年12月,0,1180,11800000,東京,中央,新川２-11-1

## station distance column

In [ ]:
# Split station_distance column into four parts
df["line"] = df["station_distance"].apply(lambda x: x.split("「")[0])

df["station"] = df["station_distance"].apply(lambda x: x.split("「")[1].split("」")[0])

df["way"] = df["station_distance"].apply(lambda x: re.split(r'[0-9]+', x.split('」')[1])[0])

df["walking time"] = df["station_distance"].apply(lambda x: x.split("歩")[1].split("分")[0]).astype(int)

df.head()

,apt_name,price,address,station_distance,area,floor_plan,balcony,year,Oku,Man,total Price,prefecture,city,town,line,station,way,walking time
0,ライオンズガーデン四谷津の守坂,1億5800万,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004年2月,1,5800,158000000,東京,新宿,四谷三栄町,東京メトロ丸ノ内線,四谷三丁目,徒歩,6
1,トルナーレ日本橋浜町,2億4800万,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005年8月,2,4800,248000000,東京,中央,日本橋浜町３,東京メトロ半蔵門線,水天宮前,徒歩,5
2,富久クロス コンフォートタワー,3億6800万,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015年4月,3,6800,368000000,東京,新宿,富久町,東京メトロ丸ノ内線,新宿御苑前,徒歩,7
3,パークコート千代田富士見ザ タワー,3億6800万,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014年3月,3,6800,368000000,東京,千代田,富士見２,ＪＲ中央線,飯田橋,徒歩,3
4,八丁堀東豊エステート,1180万,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,ワンルーム,1.42m2,1974年12月,0,1180,11800000,東京,中央,新川２-11-1,東京メトロ日比谷線,八丁堀,徒歩,2

## area column

In [ ]:
# Remove m in area column
df["area [m2]"] = df["area"].apply(lambda x: x.split("m")[0]).astype(float)
df

,apt_name,price,address,station_distance,area,floor_plan,balcony,year,Oku,Man,total Price,prefecture,city,town,line,station,way,walking time,area [m2]
0,ライオンズガーデン四谷津の守坂,1億5800万,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004年2月,1,5800,158000000,東京,新宿,四谷三栄町,東京メトロ丸ノ内線,四谷三丁目,徒歩,6,62.48
1,トルナーレ日本橋浜町,2億4800万,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005年8月,2,4800,248000000,東京,中央,日本橋浜町３,東京メトロ半蔵門線,水天宮前,徒歩,5,78.62
2,富久クロス コンフォートタワー,3億6800万,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015年4月,3,6800,368000000,東京,新宿,富久町,東京メトロ丸ノ内線,新宿御苑前,徒歩,7,75.38
3,パークコート千代田富士見ザ タワー,3億6800万,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014年3月,3,6800,368000000,東京,千代田,富士見２,ＪＲ中央線,飯田橋,徒歩,3,64.47
4,八丁堀東豊エステート,1180万,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,ワンルーム,1.42m2,1974年12月,0,1180,11800000,東京,中央,新川２-11-1,東京メトロ日比谷線,八丁堀,徒歩,2,12.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6577,広尾マンション,2億7800万,東京都渋谷区広尾１,東京メトロ日比谷線「広尾」徒歩9分,161.44m2（壁芯）,4LDK,28.35m2,1970年7月,2,7800,278000000,東京,渋谷,広尾１,東京メトロ日比谷線,広尾,徒歩,9,161.44
6578,南平台ハウス,3億1800万,東京都渋谷区南平台町,ＪＲ山手線「渋谷」徒歩8分,136.54m2（壁芯）,4LDK,10.12m2,2002年3月,3,1800,318000000,東京,渋谷,南平台町,ＪＲ山手線,渋谷,徒歩,8,136.54
6579,ワールドタワーレジデンス,3億8000万,東京都港区浜松町２,ＪＲ山手線「浜松町」徒歩2分,54.8m2（壁芯）,2LDK,10.59m2,2024年11月,3,8000,380000000,東京,港,浜松町２,ＪＲ山手線,浜松町,徒歩,2,54.80
6580,上原ガーデンズ,6億4000万,東京都渋谷区上原２,小田急線「代々木上原」徒歩10分,234.85m2（壁芯）,4LDK,25.89m2,2001年3月,6,4000,640000000,東京,渋谷,上原２,小田急線,代々木上原,徒歩,10,234.85
6581,品川Ｖタワー タワー棟,18億,東京都港区港南２,ＪＲ山手線「品川」徒歩6分,285.62m2（壁芯）,2LDK+S（納戸）,18.76m2,2003年3月,18,0,1800000000,東京,港,港南２,ＪＲ山手線,品川,徒歩,6,285.62

## floor plan column

In [ ]:
# Check the unique values in floor_plan column
df["floor_plan"].unique()

array(['2LDK', '3LDK', 'ワンルーム', '1DK', '1LDK', '2K', '2DK', '1K+S（納戸）',
       '1LDK+S（納戸）', '1K', '1DK+S（納戸）', '3DK', '2LDK+S（納戸）', '3K',
       '3LDK+S（納戸）', '3LDK+2S（納戸）', '4LDK', '1LDK+2S（納戸）', '4LDK+S（納戸）',
       '4LDK+2S（納戸）', 'ワンルーム+S（納戸）', '2LK', '1LK', '2DK+S（納戸）',
       '1LK+S（納戸）', '5LDK', '11LDK+S（納戸）', '2LDK+2S（納戸）', '5LDK+S（納戸）',
       '1ワンルーム'], dtype=object)

In [ ]:
# Function for identifying L,D,K,S
def ldk_check(data):
    return {
      'L':1 if 'L' in data else 0,
      'D':1 if 'D' in data else 0,
      'K':1 if 'K' in data else 0,
      'S':1 if 'S' in data else 0
  }

In [ ]:
# Adjust values
df["floor_plan"] = df["floor_plan"].replace("1ワンルーム", "ワンルーム")
df["floor_plan"] = df["floor_plan"].replace(r"ワンルーム.*", "1", regex=True)
df["room"] = df["floor_plan"].str.extract('(\d+)')

# Apply defined function
ldks = df["floor_plan"].apply(ldk_check).apply(pd.Series)
df = pd.concat([df, ldks], axis=1)
df

,apt_name,price,address,station_distance,area,floor_plan,balcony,year,Oku,Man,...,line,station,way,walking time,area [m2],room,L,D,K,S
0,ライオンズガーデン四谷津の守坂,1億5800万,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004年2月,1,5800,...,東京メトロ丸ノ内線,四谷三丁目,徒歩,6,62.48,2,1,1,1,0
1,トルナーレ日本橋浜町,2億4800万,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005年8月,2,4800,...,東京メトロ半蔵門線,水天宮前,徒歩,5,78.62,3,1,1,1,0
2,富久クロス コンフォートタワー,3億6800万,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015年4月,3,6800,...,東京メトロ丸ノ内線,新宿御苑前,徒歩,7,75.38,3,1,1,1,0
3,パークコート千代田富士見ザ タワー,3億6800万,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014年3月,3,6800,...,ＪＲ中央線,飯田橋,徒歩,3,64.47,2,1,1,1,0
4,八丁堀東豊エステート,1180万,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,1,1.42m2,1974年12月,0,1180,...,東京メトロ日比谷線,八丁堀,徒歩,2,12.78,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6577,広尾マンション,2億7800万,東京都渋谷区広尾１,東京メトロ日比谷線「広尾」徒歩9分,161.44m2（壁芯）,4LDK,28.35m2,1970年7月,2,7800,...,東京メトロ日比谷線,広尾,徒歩,9,161.44,4,1,1,1,0
6578,南平台ハウス,3億1800万,東京都渋谷区南平台町,ＪＲ山手線「渋谷」徒歩8分,136.54m2（壁芯）,4LDK,10.12m2,2002年3月,3,1800,...,ＪＲ山手線,渋谷,徒歩,8,136.54,4,1,1,1,0
6579,ワールドタワーレジデンス,3億8000万,東京都港区浜松町２,ＪＲ山手線「浜松町」徒歩2分,54.8m2（壁芯）,2LDK,10.59m2,2024年11月,3,8000,...,ＪＲ山手線,浜松町,徒歩,2,54.80,2,1,1,1,0
6580,上原ガーデンズ,6億4000万,東京都渋谷区上原２,小田急線「代々木上原」徒歩10分,234.85m2（壁芯）,4LDK,25.89m2,2001年3月,6,4000,...,小田急線,代々木上原,徒歩,10,234.85,4,1,1,1,0
6581,品川Ｖタワー タワー棟,18億,東京都港区港南２,ＪＲ山手線「品川」徒歩6分,285.62m2（壁芯）,2LDK+S（納戸）,18.76m2,2003年3月,18,0,...,ＪＲ山手線,品川,徒歩,6,285.62,2,1,1,1,1

## balcony column

In [ ]:
# Check the unique values in balcony column
df["balcony"].unique()

array(['6.62m2', '25.53m2', '12.21m2', ..., '3.16m2', '23.28m2',
       '25.89m2'], dtype=object)

In [ ]:
# Remove m in balcony column
df["balcony [m2]"] = df["balcony"].apply(lambda x: x.split("m")[0])
df

,apt_name,price,address,station_distance,area,floor_plan,balcony,year,Oku,Man,...,station,way,walking time,area [m2],room,L,D,K,S,balcony [m2]
0,ライオンズガーデン四谷津の守坂,1億5800万,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004年2月,1,5800,...,四谷三丁目,徒歩,6,62.48,2,1,1,1,0,6.62
1,トルナーレ日本橋浜町,2億4800万,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005年8月,2,4800,...,水天宮前,徒歩,5,78.62,3,1,1,1,0,25.53
2,富久クロス コンフォートタワー,3億6800万,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015年4月,3,6800,...,新宿御苑前,徒歩,7,75.38,3,1,1,1,0,12.21
3,パークコート千代田富士見ザ タワー,3億6800万,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014年3月,3,6800,...,飯田橋,徒歩,3,64.47,2,1,1,1,0,10.89
4,八丁堀東豊エステート,1180万,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,1,1.42m2,1974年12月,0,1180,...,八丁堀,徒歩,2,12.78,1,0,0,0,0,1.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6577,広尾マンション,2億7800万,東京都渋谷区広尾１,東京メトロ日比谷線「広尾」徒歩9分,161.44m2（壁芯）,4LDK,28.35m2,1970年7月,2,7800,...,広尾,徒歩,9,161.44,4,1,1,1,0,28.35
6578,南平台ハウス,3億1800万,東京都渋谷区南平台町,ＪＲ山手線「渋谷」徒歩8分,136.54m2（壁芯）,4LDK,10.12m2,2002年3月,3,1800,...,渋谷,徒歩,8,136.54,4,1,1,1,0,10.12
6579,ワールドタワーレジデンス,3億8000万,東京都港区浜松町２,ＪＲ山手線「浜松町」徒歩2分,54.8m2（壁芯）,2LDK,10.59m2,2024年11月,3,8000,...,浜松町,徒歩,2,54.80,2,1,1,1,0,10.59
6580,上原ガーデンズ,6億4000万,東京都渋谷区上原２,小田急線「代々木上原」徒歩10分,234.85m2（壁芯）,4LDK,25.89m2,2001年3月,6,4000,...,代々木上原,徒歩,10,234.85,4,1,1,1,0,25.89
6581,品川Ｖタワー タワー棟,18億,東京都港区港南２,ＪＲ山手線「品川」徒歩6分,285.62m2（壁芯）,2LDK+S（納戸）,18.76m2,2003年3月,18,0,...,品川,徒歩,6,285.62,2,1,1,1,1,18.76

## year column

In [172]:
df["year"].unique()

array(['2004年2月', '2005年8月', '2015年4月', '2014年3月', '1974年12月', '1982年11月',
       '1972年3月', '1970年11月', '1990年3月', '1969年12月', '1981年4月', '1977年3月',
       '1976年7月', '1971年9月', '1978年9月', '1971年3月', '1981年8月', '1971年8月',
       '2016年11月', '1979年7月', '1973年7月', '1996年3月', '1977年4月', '1976年8月',
       '1988年12月', '1983年7月', '1981年2月', '1971年11月', '2003年5月', '1976年4月',
       '1981年3月', '1985年9月', '1978年7月', '1978年5月', '1978年1月', '1994年3月',
       '1980年6月', '1970年5月', '1980年4月', '1983年11月', '1973年10月', '1983年1月',
       '1979年2月', '1980年11月', '1999年12月', '1980年9月', '2022年9月', '1983年6月',
       '1982年5月', '1996年9月', '1968年12月', '1982年8月', '1984年11月',
       '2012年12月', '1992年2月', '1973年4月', '1978年10月', '1968年11月',
       '1969年1月', '1994年12月', '2002年5月', '2003年8月', '1981年12月',
       '1984年10月', '1972年10月', '2008年12月', '1997年5月', '2005年5月',
       '1977年9月', '1981年6月', '2023年8月', '1970年6月', '1979年9月', '1970年9月',
       '1977年12月', '1995年11月', '2025年2月', '1995年1月', '1974年11月',
       '1984年6月', '1998年3月', '1981年10月', '1997年3月', '1985年5月', '1972年4月',
       '1976年3月', '1977年10月', '1973年3月', '2016年9月', '2012年3月', '2023年1月',
       '2003年4月', '1978年11月', '1982年12月', '2012年5月', '1968年4月', '1980年7月',
       '1992年7月', '2011年1月', '2000年7月', '2003年9月', '2010年10月', '2014年10月',
       '1978年8月', '1978年2月', '1999年2月', '2011年12月', '2020年4月', '2004年8月',
       '1983年8月', '2002年12月', '1979年3月', '2014年8月', '2017年2月', '1987年11月',
       '2013年2月', '1996年11月', '2011年6月', '2005年2月', '1995年10月',
       '2004年10月', '1985年4月', '2018年1月', '1971年2月', '1972年9月', '2000年2月',
       '1978年3月', '2013年10月', '2018年4月', '2006年6月', '1982年6月', '2004年11月',
       '2022年8月', '1970年12月', '1979年4月', '1999年9月', '1985年7月', '2021年9月',
       '2010年8月', '2004年4月', '1983年12月', '1995年8月', '2002年2月', '2005年9月',
       '2014年5月', '2012年6月', '2005年1月', '2023年12月', '1979年11月', '1999年5月',
       '2009年3月', '2010年7月', '2008年2月', '1980年3月', '2003年3月', '1959年11月',
       '2017年4月', '1996年8月', '1979年8月', '1978年6月', '1999年11月', '2001年3月',
       '1992年1月', '2007年1月', '1970年10月', '2004年1月', '1985年12月', '2012年2月',
       '1998年10月', '1986年10月', '2019年5月', '1998年11月', '2024年11月',
       '2013年9月', '1982年3月', '1992年6月', '1998年2月', '2016年3月', '2020年11月',
       '2004年6月', '1991年10月', '1992年8月', '1998年9月', '1980年1月', '1999年4月',
       '1997年8月', '1984年12月', '2023年6月', '2017年8月', '2000年3月', '2005年6月',
       '2015年2月', '2000年8月', '1998年7月', '2006年2月', '2003年10月', '2013年4月',
       '1999年1月', '2005年10月', '1997年10月', '2001年5月', '1978年4月', '2020年1月',
       '2008年6月', '2004年3月', '2018年7月', '1964年9月', '2003年2月', '2012年1月',
       '1993年2月', '2017年1月', '2008年4月', '1969年11月', '2017年6月', '2006年10月',
       '1996年2月', '2024年12月', '2001年2月', '2002年6月', '1997年11月', '2008年1月',
       '2014年1月', '1983年9月', '2023年2月', '1994年10月', '1988年10月',
       '2000年11月', '2008年8月', '1997年9月', '2022年2月', '2019年2月', '2018年6月',
       '1978年12月', '2006年5月', '2015年10月', '2012年4月', '2020年10月',
       '2002年4月', '1997年4月', '2010年1月', '2017年11月', '2018年2月', '2022年12月',
       '1999年3月', '2002年9月', '2015年9月', '2010年3月', '1987年9月', '1964年8月',
       '2023年10月', '2013年6月', '2007年5月', '1998年12月', '1977年11月',
       '1975年3月', '2013年3月', '2011年5月', '2010年11月', '1999年10月', '1981年7月',
       '2007年11月', '2001年10月', '2015年8月', '2001年8月', '2017年12月',
       '1991年8月', '2014年2月', '1974年7月', '2007年2月', '1970年7月', '1972年8月',
       '1974年8月', '1998年8月', '2011年9月', '2000年1月', '2001年12月', '2016年2月',
       '2021年8月', '2004年9月', '2006年9月', '2020年2月', '2015年12月', '2004年5月',
       '2000年12月', '2007年8月', '2016年4月', '2019年7月', '2023年9月', '2018年11月',
       '2001年1月', '1972年6月', '1980年8月', '2003年1月', '2009年9月', '2024年3月',
       '2013年12月', '2019年9月', '2015年6月', '2013年5月', '2019年1月', '2017年9月',
       '2019年10月', '2000年5月', '2003年11月', '1999年7月', '2017年5月', '1990年9月',
       '2023年11月', '2000年6月', '2000年9月', '2017年7月', '2007年12月',
       '2021年10月', '1975年9月', '2021年12月', '1965年3月', '1995年3月',
       '2017年10月', '1973年11月', '2024年6月', '2007年10月', '1993年9月',
       '2005年11月', '2015年7月', '2003年12月', '2000年10月', '2009年6月',
       '2024年7月', '2009年5月', '2002年1月', '2016年8月', '2015年1月', '1982年10月',
       '2010年5月', '2006年3月', '1992年5月', '2006年11月', '2012年9月', '2020年7月',
       '2005年3月', '2021年2月', '2020年12月', '2014年9月', '2008年5月', '2016年10月',
       '2025年3月', '1990年6月', '2006年8月', '1985年3月', '2002年3月', '2014年11月',
       '2001年11月', '2013年8月', '2025年1月', '2007年3月', '1990年7月', '2019年11月',
       '2010年6月', '2014年7月', '2011年11月', '2015年3月', '2011年4月', '2002年10月',
       '2024年8月', '2008年9月', '2015年5月', '2022年1月', '2022年11月', '2024年2月',
       '1985年1月', '2021年1月', '2024年9月', '2024年5月', '2006年7月', '1991年3月',
       '2003年6月', '2017年3月', '1986年2月', '2009年11月', '2012年8月', '1963年4月',
       '1973年6月', '1964年4月', '1977年7月', '1967年10月', '1980年5月', '1969年10月',
       '1977年5月', '1982年4月', '1967年6月', '1975年11月', '1992年3月', '1976年2月',
       '1979年10月', '1981年11月', '1984年8月', '1979年5月', '1980年2月',
       '1980年10月', '1973年9月', '1969年4月', '1969年3月', '1972年11月', '1970年4月',
       '1975年4月', '1966年12月', '1981年1月', '1990年12月', '2021年11月',
       '1979年12月', '1972年2月', '1971年7月', '1999年6月', '2009年4月', '1982年2月',
       '1975年2月', '1971年10月', '1995年9月', '1975年12月', '2009年10月',
       '1979年6月', '1971年6月', '1979年1月', '1997年2月', '1983年10月', '1977年1月',
       '1983年3月', '1990年2月', '2004年12月', '1998年4月', '2016年5月', '1970年3月',
       '1988年1月', '1983年2月', '1984年2月', '2019年3月', '1976年10月', '1989年2月',
       '2023年3月', '2006年12月', '2013年11月', '1989年10月', '2013年7月',
       '2018年3月', '2005年7月', '1993年6月', '2009年2月', '1987年3月', '1991年11月',
       '1989年4月', '1988年6月', '1974年10月', '1971年5月', '1971年4月', '1991年6月',
       '1968年2月', '1983年4月', '1981年9月', '1973年8月', '1991年4月', '1969年9月',
       '1986年12月', '1986年9月', '1973年1月', '1977年8月', '1974年3月', '1964年1月',
       '1976年11月', '1976年6月', '1968年10月', '1967年9月', '1974年9月', '1976年5月',
       '1965年7月', '1977年6月', '1973年5月', '1964年11月', '1996年12月', '1989年3月',
       '1984年4月', '1999年8月', '1975年1月', '1980年12月', '1987年7月', '1975年6月',
       '1966年10月', '1967年7月', '1972年7月', '1984年9月', '2005年4月', '1982年1月',
       '2018年9月', '1989年11月', '1963年12月', '1985年10月', '2009年1月',
       '1965年1月', '1968年9月', '1984年5月', '2020年5月', '2001年9月', '1988年9月',
       '1967年5月', '1968年1月', '2023年5月', '1968年8月', '1992年9月', '1996年6月',
       '1994年7月', '1992年10月', '1994年11月', '1968年3月', '1984年3月', '1968年6月',
       '1998年6月', '2011年2月', '1971年12月', '1995年7月', '1991年1月', '1994年2月',
       '1985年2月', '1973年2月', '1971年1月', '1997年1月', '2012年11月', '1990年5月',
       '1985年8月', '1990年4月', '2016年1月', '2011年7月', '2022年4月', '2004年7月',
       '1989年5月', '2023年7月', '1965年5月', '2008年10月', '1989年8月', '2007年7月',
       '2001年4月', '1985年6月', '1995年2月', '2022年3月', '2022年6月', '1983年5月',
       '1968年5月', '2010年12月', '2012年7月', '2011年3月', '2010年9月', '2001年6月',
       '1987年4月', '2023年4月', '1988年5月', '1986年6月', '2007年9月', '1982年9月',
       '2002年7月', '2018年12月', '1974年1月', '1995年5月', '1996年1月', '1986年5月',
       '2026年12月', '2002年8月', '1991年7月', '2020年8月', '2024年10月', '2011年8月',
       '2018年8月', '1986年3月', '1974年2月', '1988年11月', '1997年7月', '1998年1月',
       '1969年7月', '1989年7月', '2016年12月', '1997年12月', '2025年9月',
       '2015年11月', '2025年10月', '2026年11月', '1992年4月', '1993年12月',
       '2008年7月', '1998年5月', '2019年8月', '2022年5月', '2019年6月', '2013年1月',
       '1994年8月', '2008年11月', '2021年4月', '2003年7月', '2027年6月', '1970年2月',
       '2022年7月', '2022年10月', '2018年5月', '1964年3月', '1976年9月', '2021年5月',
       '1987年10月', '1993年4月', '1974年6月', '1994年9月', '2014年12月',
       '2012年10月', '2021年6月', '2025年6月', '2024年1月', '1991年9月', '1973年12月',
       '1988年3月', '2021年3月', '2021年7月', '2010年2月', '1972年1月', '1992年11月',
       '2009年12月', '1992年12月', '2006年1月', '1987年12月', '1990年10月',
       '2005年12月'], dtype=object)

In [ ]:
# Split year column into two parts
df["date_year"] = df["year"].apply(lambda x: x.split("年")[0])
df["date_month"] = df["year"].apply(lambda x: x.split("年")[1].split("月")[0])
df

,apt_name,price,address,station_distance,area,floor_plan,balcony,year,Oku,Man,...,walking time,area [m2],room,L,D,K,S,balcony [m2],date_year,date_month
0,ライオンズガーデン四谷津の守坂,1億5800万,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004年2月,1,5800,...,6,62.48,2,1,1,1,0,6.62,2004,2
1,トルナーレ日本橋浜町,2億4800万,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005年8月,2,4800,...,5,78.62,3,1,1,1,0,25.53,2005,8
2,富久クロス コンフォートタワー,3億6800万,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015年4月,3,6800,...,7,75.38,3,1,1,1,0,12.21,2015,4
3,パークコート千代田富士見ザ タワー,3億6800万,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014年3月,3,6800,...,3,64.47,2,1,1,1,0,10.89,2014,3
4,八丁堀東豊エステート,1180万,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,1,1.42m2,1974年12月,0,1180,...,2,12.78,1,0,0,0,0,1.42,1974,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6577,広尾マンション,2億7800万,東京都渋谷区広尾１,東京メトロ日比谷線「広尾」徒歩9分,161.44m2（壁芯）,4LDK,28.35m2,1970年7月,2,7800,...,9,161.44,4,1,1,1,0,28.35,1970,7
6578,南平台ハウス,3億1800万,東京都渋谷区南平台町,ＪＲ山手線「渋谷」徒歩8分,136.54m2（壁芯）,4LDK,10.12m2,2002年3月,3,1800,...,8,136.54,4,1,1,1,0,10.12,2002,3
6579,ワールドタワーレジデンス,3億8000万,東京都港区浜松町２,ＪＲ山手線「浜松町」徒歩2分,54.8m2（壁芯）,2LDK,10.59m2,2024年11月,3,8000,...,2,54.80,2,1,1,1,0,10.59,2024,11
6580,上原ガーデンズ,6億4000万,東京都渋谷区上原２,小田急線「代々木上原」徒歩10分,234.85m2（壁芯）,4LDK,25.89m2,2001年3月,6,4000,...,10,234.85,4,1,1,1,0,25.89,2001,3
6581,品川Ｖタワー タワー棟,18億,東京都港区港南２,ＪＲ山手線「品川」徒歩6分,285.62m2（壁芯）,2LDK+S（納戸）,18.76m2,2003年3月,18,0,...,6,285.62,2,1,1,1,1,18.76,2003,3

In [ ]:
# Convert to datetime type and compute the age of building
now = datetime.datetime.now()
now_year = now.year
now_month = now.month

df['year'] = df['year'].str.replace('年', '-').str.replace('月', '')

df['year'] = pd.to_datetime(df['year'], format='%Y-%m')
# df["diff_month"] = (now_year-df["year"].dt.year)*12 + (now_month-df["year"].dt.month)
df["age"] = (now_year-df["year"].dt.year)

In [175]:
df

,apt_name,price,address,station_distance,area,floor_plan,balcony,year,Oku,Man,...,area [m2],room,L,D,K,S,balcony [m2],date_year,date_month,age
0,ライオンズガーデン四谷津の守坂,1億5800万,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004-02-01,1,5800,...,62.48,2,1,1,1,0,6.62,2004,2,21
1,トルナーレ日本橋浜町,2億4800万,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005-08-01,2,4800,...,78.62,3,1,1,1,0,25.53,2005,8,20
2,富久クロス コンフォートタワー,3億6800万,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015-04-01,3,6800,...,75.38,3,1,1,1,0,12.21,2015,4,10
3,パークコート千代田富士見ザ タワー,3億6800万,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014-03-01,3,6800,...,64.47,2,1,1,1,0,10.89,2014,3,11
4,八丁堀東豊エステート,1180万,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,1,1.42m2,1974-12-01,0,1180,...,12.78,1,0,0,0,0,1.42,1974,12,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6577,広尾マンション,2億7800万,東京都渋谷区広尾１,東京メトロ日比谷線「広尾」徒歩9分,161.44m2（壁芯）,4LDK,28.35m2,1970-07-01,2,7800,...,161.44,4,1,1,1,0,28.35,1970,7,55
6578,南平台ハウス,3億1800万,東京都渋谷区南平台町,ＪＲ山手線「渋谷」徒歩8分,136.54m2（壁芯）,4LDK,10.12m2,2002-03-01,3,1800,...,136.54,4,1,1,1,0,10.12,2002,3,23
6579,ワールドタワーレジデンス,3億8000万,東京都港区浜松町２,ＪＲ山手線「浜松町」徒歩2分,54.8m2（壁芯）,2LDK,10.59m2,2024-11-01,3,8000,...,54.80,2,1,1,1,0,10.59,2024,11,1
6580,上原ガーデンズ,6億4000万,東京都渋谷区上原２,小田急線「代々木上原」徒歩10分,234.85m2（壁芯）,4LDK,25.89m2,2001-03-01,6,4000,...,234.85,4,1,1,1,0,25.89,2001,3,24
6581,品川Ｖタワー タワー棟,18億,東京都港区港南２,ＪＲ山手線「品川」徒歩6分,285.62m2（壁芯）,2LDK+S（納戸）,18.76m2,2003-03-01,18,0,...,285.62,2,1,1,1,1,18.76,2003,3,22

## missing value check

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6582 entries, 0 to 6581
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   apt_name          6582 non-null   object
 1   price             6582 non-null   object
 2   address           6582 non-null   object
 3   station_distance  6582 non-null   object
 4   area              6582 non-null   object
 5   floor_plan        6582 non-null   object
 6   balcony           6582 non-null   object
 7   year              6582 non-null   datetime64[ns]
 8   Oku               6582 non-null   int64
 9   Man               6582 non-null   int64
 10  total Price       6582 non-null   int64
 11  prefecture        6582 non-null   object
 12  city              6582 non-null   object
 13  town              6582 non-null   object
 14  line              6582 non-null   object
 15  station           6582 non-null   object
 16  way               6582 non-null   object
 17  walking time      6582 non-null   int32
 18  area [m2]         6582 non-null   float64
 19  room              6582 non-null   object
 20  L                 6582 non-null   int64
 21  D                 6582 non-null   int64
 22  K                 6582 non-null   int64
 23  S                 6582 non-null   int64
 24  balcony [m2]      6582 non-null   object
 25  date_year         6582 non-null   object
 26  date_month        6582 non-null   object
 27  age               6582 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(2), int64(7), object(17)
memory usage: 1.4+ MB

In [177]:
df.isna().sum()

apt_name            0
price               0
address             0
station_distance    0
area                0
floor_plan          0
balcony             0
year                0
Oku                 0
Man                 0
total Price         0
prefecture          0
city                0
town                0
line                0
station             0
way                 0
walking time        0
area [m2]           0
room                0
L                   0
D                   0
K                   0
S                   0
balcony [m2]        0
date_year           0
date_month          0
age                 0
dtype: int64

In [ ]:
# Check the missing values
df[df["room"].isna()]

Empty DataFrame
Columns: [apt_name, price, address, station_distance, area, floor_plan, balcony, year, Oku, Man, total Price, prefecture, city, town, line, station, way, walking time, area [m2], room, L, D, K, S, balcony [m2], date_year, date_month, age]
Index: []

[0 rows x 28 columns]

In [179]:
df.duplicated().sum()

889

In [180]:
df.describe()

,year,Oku,Man,total Price,walking time,area [m2],L,D,K,S,age
count,6582,6582.000000,6582.000000,6.582000e+03,6582.000000,6582.000000,6582.000000,6582.000000,6582.000000,6582.000000,6582.000000
mean,1999-09-26 18:05:34.731084672,1.222881,5472.096475,1.770090e+08,5.989669,66.720579,0.884534,0.938924,0.963689,0.104072,25.709359
min,1959-11-01 00:00:00,0.000000,0.000000,1.030000e+07,1.000000,12.310000,0.000000,0.000000,0.000000,0.000000,-2.000000
25%,1982-08-01 00:00:00,0.000000,3499.000000,6.380000e+07,3.000000,47.470000,1.000000,1.000000,1.000000,0.000000,12.000000
50%,2004-01-01 00:00:00,1.000000,5399.000000,1.180000e+08,5.000000,61.950000,1.000000,1.000000,1.000000,0.000000,21.000000
75%,2013-12-01 00:00:00,2.000000,7690.000000,2.048000e+08,8.000000,80.135000,1.000000,1.000000,1.000000,0.000000,43.000000
max,2027-06-01 00:00:00,21.000000,9999.000000,2.180000e+09,22.000000,548.000000,1.000000,1.000000,1.000000,1.000000,66.000000
std,NaN,1.886219,2669.487385,1.900628e+08,3.409215,28.872845,0.319608,0.239487,0.187077,0.305377,17.138322

## delete unnecessary column

In [181]:
df.head()

,apt_name,price,address,station_distance,area,floor_plan,balcony,year,Oku,Man,...,area [m2],room,L,D,K,S,balcony [m2],date_year,date_month,age
0,ライオンズガーデン四谷津の守坂,1億5800万,東京都新宿区四谷三栄町,東京メトロ丸ノ内線「四谷三丁目」徒歩6分,62.48m2（壁芯）,2LDK,6.62m2,2004-02-01,1,5800,...,62.48,2,1,1,1,0,6.62,2004,2,21
1,トルナーレ日本橋浜町,2億4800万,東京都中央区日本橋浜町３,東京メトロ半蔵門線「水天宮前」徒歩5分,78.62m2（壁芯）,3LDK,25.53m2,2005-08-01,2,4800,...,78.62,3,1,1,1,0,25.53,2005,8,20
2,富久クロス コンフォートタワー,3億6800万,東京都新宿区富久町,東京メトロ丸ノ内線「新宿御苑前」徒歩7分,75.38m2（壁芯）,3LDK,12.21m2,2015-04-01,3,6800,...,75.38,3,1,1,1,0,12.21,2015,4,10
3,パークコート千代田富士見ザ タワー,3億6800万,東京都千代田区富士見２,ＪＲ中央線「飯田橋」徒歩3分,64.47m2（壁芯）,2LDK,10.89m2,2014-03-01,3,6800,...,64.47,2,1,1,1,0,10.89,2014,3,11
4,八丁堀東豊エステート,1180万,東京都中央区新川２-11-1,東京メトロ日比谷線「八丁堀」徒歩2分,12.78m2（3.86坪）（壁芯）,1,1.42m2,1974-12-01,0,1180,...,12.78,1,0,0,0,0,1.42,1974,12,51

In [182]:
df_cleaned = df.drop(columns=["price", "address", "station_distance", "area", "floor_plan", "balcony", "Oku", "Man", "year"], axis=1)

In [ ]:
# Removed rows with inconsistency
df_cleaned[df_cleaned["total Price"]<0]

Empty DataFrame
Columns: [apt_name, total Price, prefecture, city, town, line, station, way, walking time, area [m2], room, L, D, K, S, balcony [m2], date_year, date_month, age]
Index: []

In [ ]:
df_cleaned.to_csv("C:/Users/Owner/Documents/RealEstate Project/data/suumo_central_tokyo_cleaned.csv",encoding='utf-8-sig', index=False)